*{
    font-family: 'Poppins', sans-serif !important;
}
.text-primary {
    color: #6dbd8f !important;
}
.bg-primary {
    background-color: #6dbd8f !important;
}


.bg-dating {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.lg\:pb-0 {
    padding-bottom: 0px;
}
.lg\:mt-0 {
    margin-top: 0px;
}
.lg\:bg-discover-laptop {
    background-image: url('./../Image/DiscoveryCall/web.jpg');
}

@media only screen and (max-width: 600px) {
    .bg-discover-smartphone {
        background-image: url('./../Image/DiscoveryCall/mobile.jpg');
    }
  }

  /* Nav */
  .bm-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #0F2829;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
}
.bm-burger-button {
    cursor: pointer;
    height: 20px;
    width: 26px;
    position: absolute;
    top: 15px !important;
    right: 0 !important;
}
.bm-item-list > * {
    display: flex;
    padding: .7em;
    text-decoration: none;
    margin-left: 20px;
}
.bm-cross-button {
    transform: scale(1.8);
    height: 34px;
    width: 34px;
}
.cross-style {
    position: absolute;
    top: 40px;
    right: 20px !important;
    cursor: pointer;
}
.w-illustration {
    width: 500px;
}
.absolute {
    position: absolute;
}
.portfolio{
    text-align: center;
}
.portfolio > h2{
    font-size: 3em;
    margin-top: 80px;
}
.portfolio > h3{
    font-size: 2em;
    font-weight: 400;
}
.blog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 80px 20px;
}
.blog h3{
    text-align: center;
    margin: 20px auto 0px;
    font-weight: 500;
}
.blog p{
    color: #ccc;
    margin-top: 4px;
}
.card-title{
    font-weight: 900;
}

.a:hover {
    color: black !important;
}
.maincard{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.rec.rec-arrow {
    border-radius: 0 ;
    background-color: #fff0 !important;
    color: black;
    width: 30px;
    height: 30px;
    line-height: 0px;
    min-width: 30px;
    font-size: 20px; 
}
@media only screen and (max-width: 456px){ 
    .rec.rec-arrow {
        border-radius: 0 ;
        background-color: #fff0 !important;
        color: black;
        width: 25px;
        height: 25px;
        line-height: 0px;
        min-width: 25px;
        font-size: 10px;
        
    } 
}
.rec.rec-arrow:hover {
    border-radius: 50%;
}
.rec-dot_active{
    color: rgb(97, 179, 140);
    background-color: #65b58e !important;
}
.rec .rec-dot{
    color: rgb(97, 179, 140);
    background-color: #4b5563;
    opacity: 0.5;
}
.rec .rec-carousel-item .rec-carousel-item-2 .rec-carousel-item-visible{
    margin: auto;
}

.wave {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('./../../assets/Image/wave.png');
        background-size: auto;
    background-size: 1000px 100px;
    -webkit-animation: animateIn 10s linear infinite;
    animation: animateIn 10s linear infinite;
    animation-delay: 0s;
    z-index: 1000;
    opacity: 1;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    bottom: 0;
    position: static;
    background-image: url('./../Image/wave.png');
}

@keyframes animateIn {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

.addressz{
    align-self: center;
    left: 110px;
    display: flex;
    flex-direction: column;
}

.contact{
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px){
    .addressz{
        align-self: center;
        left: 0;
        display: flex;
        flex-direction: column;
    }
}

.address-bottom{
    margin-top: 20px;
    display: none;
}

@media only screen and (max-width: 767px) {
    .address-bottom{
        display: grid;
    }
    .address-left{
        display: none;
    }
}

.modal-dialog {
    max-width: 100% !important;
    margin: auto !important;
    width: 100% !important;
    background-color: #0000;
    background: transparent;
}  

.modal{
    padding-left: 0 !important;
    background-color: #0F2829;
    background: transparent;
}

.modal-content{
    background: #000000ab;
}
.modal-body {
    padding: 3rem;

}